.landing-section {
    width: 100%;
    height: 100vh;
    position: relative;
}

.sticky-nav {
    position: -webkit-sticky;
    position: sticky;
    top: -88%;
}

.test-space {
    position: relative;
    background-color: #efefef;
    width: 100%;
    height: 400vh;
    z-index: -1;
}

.nav-logo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50em;
    max-width: 80%;
    z-index: 5;
}

.background-svg {
    position: absolute;
    width: 100%;
    height: 100vh;
}

#front {
    z-index: 4;
}

#back {
    z-index: 2;
}